body {
  font-family: $body-font;
  padding: 0;
  background-size: cover;
  background-size: cover;
  color: #2d6a4f;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Container for the entire section */
.home-container {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
  // border-radius: 20px; /* Optional for rounded corners of the overall layout */
  overflow: hidden;
  background-size: cover;
  background-position: top center;
  // border-bottom-left-radius: 20px;
  // border-bottom-right-radius: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.d-flex {
  border-radius: 50%;
  width: 90%;
}

/** Background image section **/
.video-container {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

.body-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; /* Optional for rounded corners of the overall layout */
  overflow: visible;
  background-size: cover;
  background-position: center;
  position: relative; /* Ensures it sits above the image */
  z-index: 1; /* Ensures the card stays above the image */
  background-color: white;
  margin-top: -20px;
}

/* Overlay for text */
.overlay {
  position: absolute;
  bottom: 10px; /* Position the text towards the bottom */
  left: 16px;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* Add shadow for better contrast */
}

/* Overlay for searchbar */
// .searchbar {
//   position: absolute;
//   top: 20px; /* Position the text towards the bottom */
//   color: white;
//   text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
//   border-radius: 50px; /* Add shadow for better contrast */
// }

/* Title styling */
.destination-title {
  font-size: 38px;
  font-weight: bold;
  margin: 0;
}

/* Location styling */
.location {
  font-size: 22px;
  margin-top: 5px;
}

.image-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.details {
  background-color: #fff;
  border-radius: 25px;
  padding: 20px;
  margin-top: -40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 30px;
  color: #333;
  margin: 0;
}

.rating {
  background-color: #ff9900;
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 18px;
}

.small-image {
  width: 100%; /* Makes the image stretch to the full width of its container */
  height: auto; /* Ensures the aspect ratio is maintained */
  object-fit: contain;
}

.booking-card {
  // display: flex;
  transition: transform 0.2s ease;
  width: 90%;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px 0;
}

.booking-card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.card-content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.card-content h2 {
  margin: 0 0 10px;
  font-size: 1.2rem;
}

.rating {
  color: #ffd700;
  margin: 5px 0;
}

.card-content p {
  margin: 5px 0;
  color: #555;
}

.card-content .price {
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
}

.app-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

.app-link:hover {
  text-decoration: underline;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/vietnam_rice_fields.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  z-index: 1;
}

.col-md-4 {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(112, 200, 57, 0.2);
}

.btn-success {
  background-color: #23b875;
  border: none;
}

.btn-success:hover {
  background-color: #40916c;
  color: white;
}
