// Specific CSS for your home-page
.homepage {
  padding: 16px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header h1 {
  font-size: 1.5rem;
}

.notification-icon {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.search-bar {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.search-bar input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.search-bar .search-button {
  background-color: #efe7e7;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.categories {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.category {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;

  &.active {
    background-color: #0b0b0b;
    color: #fff;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
}

.nav-item {
  text-decoration: none;
  color: #666;
  font-size: 1.2rem;
}

.nav-item.active {
  color: #000;
  font-weight: bold;
}
.small-image {
  width: 150px; /* Ajustez cette valeur pour la taille souhaitée */
  height: auto; /* Conserve le ratio de l'image */
  border-radius: 8px; /* Optionnel : ajoute un arrondi */
  object-fit: cover; /* Optionnel : ajuste la manière dont l'image s'insère */
}
body {
  font-family: 'League Spartan', sans-serif;
}