<h1>ciao</h1>
<h1><%= @user.username %> </h1>
<h1><%= @experience.bookings.count %></h1>
<% if @experience.user == @user %>
  <h3>You own this experience</h3>
<% else %>
  <%= link_to "Book this experience" ,experience_bookings_path %>
<% end %>
