.btn-join,
.btn-details {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.btn-join {
  background-color: $green;
  color: #fff;
  border: none; /* No border for the join button */
  width: 120px;
  height: 40px;
}

.btn-details {
  background-color: transparent;
  color: $green;
  border: 1px solid $green; /* Adds a border for the details button */
  width: 120px;
  height: 40px;
}

.btn-see-more {
  padding: 16px 0;
  background-color: $green;
  color: white;
  border: none;
  width: 90%;
  display: inline-block;
  border-radius: 8px;
  text-decoration: none;
}

.btn-join:hover, .btn-details:hover {
  opacity: 1;
}

.btn-primary {
  background-color: black;
  border-radius: 50px;
}

.form-control {
  border-radius: 50px;
  width: 90%;
}
