.logo {
  width: 130px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  // width: 40px;
}

.navbar {
  background-color: transparent;
}
.footer-nav .nav-item {
  text-decoration: none;
  color: #888;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, border-top 0.3s ease;
}

.footer-nav .nav-item.active {
  color: #1e90ff;
  font-weight: bold;
  border-top: 3px solid #1e90ff;
}

.nav-footer {
  position: sticky;
  bottom: 0;
  background-color: rgb(230, 220, 220);
  height: 60px;
  padding: 16px;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 24px;
}

.nav-item {
  height: 40px;
  color: rgb(217, 199, 199);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.nav-item span {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.navbar-toggler {
  border: white;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
#glass {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}
